<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage || Employees</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/employees">Homepage</a></li>
            <li><a href="/create">Add employee</a></li>
        </ul>
    </nav>
    <h1>All employees</h1>
    <% if (employees.length > 0){ %>
        <h1>list of all employee</h1>
        <% employees.forEach((e)=>{ %>
            <h2> <%= e.name %>  </h2>
            <h2> <%= e.role %>  </h2>
            <h2> <%= e.age %>  </h2>

<a href="/employees/<%= e.id %>"> read more about this Employees</a>
        <% }) %>
  <%  }else{ %>
  <h2>there is no employee to display </h2>
  <% } %>
</body>
</html>